.main{
    
    .main__content{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin: 56px 0 140px;
        max-width: 752px;
        text-align: left;
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        line-height: 26px;
        transition: opacity 1s;

    }
    .main__content-active{
        opacity: 1;
        visibility: visible;
        position: relative;
        transition: opacity 1s;
    }

}
@media (min-width: 320px){

}
@media (min-width: 575.98px){

}
@media (min-width: 991.98px){

}

@media (min-width: 1199.98px){

}
@media (min-width: 1600px){

}
@media (min-width: 1920px){

}