body{
    background-color: #fff;
    padding: 0 72px;
    overflow-y: scroll;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Muller';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
@-moz-document url-prefix() {
    * {
      font-weight: lighter !important;
    }
  }

$font-size-content: 18px;
$font-size-title: 24px;

@media(min-width: 1500px) {
  $font-size-content: 15px;
  $font-size-title: 22px;
}

.container{
    max-width: 1760px;
    margin: 0 auto;
}


@import './chapters/fonts';
@import 'chapters/header';
@import 'chapters/carousel';
@import 'chapters/main';
@import 'chapters/footer';
@import 'projects/projects.main';
@import 'we/style.we';
@import 'tab';
@import 'projects_item';
@import 'magazine/magazine_item/magazine_item';