body{
    background-color: #fff;
    padding: 0 72px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Muller';
}


.container{
    max-width: 1760px;
    margin: 0 auto;
}


@import './chapters/fonts';
@import 'chapters/header';
@import 'chapters/carousel';
@import 'chapters/main';
@import 'chapters/footer';
@import 'projects/projects.main';
@import 'we/style.we';