

.we__content{
    
    position: absolute;
    visibility: hidden;
    margin-top: 57px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 400;
    opacity: 0;
    .we__content-title{
        font-weight: 500;
    }
    a{
        color: #FF0615;
        text-decoration: none;
    }
    .we__content-wrapper{
        display: flex;
        justify-content: space-between;
        width: 1200px;
        .we__content-wrapper-text{
            display: block;
            max-width: 752px;
        }
        .we__content-wrapper-img{
            display: block;
            text-align: start;
            padding-left: 20px;
            .we__content-wrapper-img-title{
                margin-top: 30px;
                text-align: left;
                font-size: 18px;
                color: #000000;
                font-weight: 500;
            .we__content-wrapper-img-subtitle{
                margin-top: 8px;
                text-align: left;
                font-size: 14px;
                color: #000000;
                font-weight: 400;
            }
            }
            img{
                max-width: 321px;
                height: auto;
            }
        }
    }
}
.we_content-active{
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}
.container__we{
    margin: 0 0 ;
}

.main{
    .container-we{
        .main__menu{
            .main__menu-item-we{
                margin-right: 87px;

            }
        }
    }
}
.main{
    .container-we{
        width: 1400px;
    }
}