

.we__content{
    
    position: absolute;
    visibility: hidden;
    margin-top: 57px;
    text-align: left;
    font-size: $font-size-content;
    line-height: 26px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 400;
    opacity: 0;
    .we__content-title{
        font-weight: 500;
    }
    a{
        color: #FF0615;
        text-decoration: none;
    }
    .we__content-wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        .we__content-wrapper-text{
            display: block;
            max-width: 752px;
        }
        .we__content-wrapper-img{
            display: block;
            text-align: start;
            padding-left: 20px;
            .we__content-wrapper-img-title{
                margin-top: 20px;
                text-align: left;
                font-size: $font-size-content;
                color: #000000;
                font-weight: 500;
            .we__content-wrapper-img-subtitle{
                margin-top: 8px;
                text-align: left;
                font-size: 14px;
                color: #000000;
                font-weight: 400;
            }
            }
            img{
                max-width: 321px;
                height: auto;
            }
        }
    }
}
.we_content-active{
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}
.container__we{
    margin: 0 0 ;
}

.main{
    .container-we{
        .main_menu_we{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1199px;
            .main__menu-item-we{
                margin-right: 0px;
                text-align: left;
                font-size: 24px;
                color: #7C7C7C;
                font-weight: 500;
                list-style-type: none;
                cursor: pointer;
                transition: color 0.5s;
            }
            .main__menu-item-we:last-child{
                margin-right: 0px;
            }
            .main__menu-item-active{
                color: #000000;
            }
            .main__menu-item-inactive{
                color: #7C7C7C;
            }
        }
    }
}
.main{
    .container-we{
        max-width: 1760px;
        margin: 0px auto;
    }
}
@media (min-width: 320px){

}
@media (min-width: 575.98px){

}
@media (min-width: 991.98px){

}

@media (min-width: 1199.98px){
    .we__content{
        font-size: 15px;
        .we__content-wrapper{
            max-width: 1199px;
            .we__content-wrapper-img{
                .we__content-wrapper-img-title{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (min-width: 1500px) and (max-width: 1720px){
    .we__content{
        font-size: 15px;
        .we__content-wrapper{
            max-width: 1199px;
            .we__content-wrapper-img{
                .we__content-wrapper-img-title{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (min-width: 1920px){
    .we__content{
        font-size: $font-size-content;
        .we__content-wrapper{
            max-width: 1200px;
            .we__content-wrapper-img{
                .we__content-wrapper-img-title{
                    font-size: $font-size-content;
                }
            }
        }
    }
}