.carousel {
    padding-top: 57px;
    .carousel__inner{
        .carousel__inner-item{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .carousel__content{
        max-width: 752px;
        margin-top: 56px;
        text-align: left;
        font-size: $font-size-content;
        line-height: 25px;
        color: #000000;
        font-weight: 400;
        .carousel__content-title{
            text-align: left;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
            margin-bottom: 16px;    
        }

    }
    .carousel__content-studio-inactive{
        display: none;
    }
    .carousel__content-studio-active{
        display: block;
    }
    .carousel__content-studio{
        display: none;
    }
}

.slick-dots{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    transform: translateY(-46px);
    margin-right: 26px;
    .slick-active{
        color: #FFFFFF;
        button{
            color: #FFFFFF;
        }
    }
    li{
        font-size: $font-size-content;
        color: #7C7C7C;
        font-weight: 400;
        cursor: pointer;

    }
    button{
        width: 25px;
        border: none;
        outline: none;
        font-size: $font-size-content;
        color: #7C7C7C;
        font-weight: 400;
        background: none;
        cursor: pointer;
    }
    .slick-dots {
        li{
            list-style-type: none; 
            font-size: $font-size-content;
            color: #7C7C7C;
            font-weight: 400;
            cursor: pointer;
        }
    }
}
.phone_carousel{
    max-width: 500px;
    margin: 0 auto;
    .phone_carousel__wrapper{
        position: relative;
        max-width: 375px;
        margin: 570px auto 0px;
    }
    .img-carousel{
        display: block;
        margin: 0 auto;
        height: auto;
        border: none;
        transition: all 0.3s; 
        border-radius: 14px;
    }
    .img--invisible-back{
        opacity: 0;
    }
    .img--invisible-front{
        opacity: 0;
    }
    .img-1{
        position: absolute;
        z-index: 1;
        bottom: 342px;
        height: 113px;
        width: 40%;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-2{
        position: absolute;
        bottom: 254px;
        height: 181px;
        width: 55%;
        z-index: 2;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-3{
        position: absolute;
        bottom: 166px;
        height: 249px;
        width: 70%;
        z-index: 3;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-4{
        position: absolute;
        bottom: 88px;
        height: 307px;
        width: 85%;
        z-index: 4;
        left: 0;
        right: 0;
        opacity: 0.75;
    }
    .action{
        position: absolute;
        bottom: 0px;
        height: 375px;
        width: 100%;
        z-index: 5;
        left: 0;
        right: 0;
        opacity: 1;
    }
    .img-6{
        position: absolute;
        bottom: 0px;
        height: 400px;
        width: 100%;
        z-index: 0;
        opacity: 0;
        left: 0;
        right: 0;
    }
    .img-7{
        position: absolute;
        z-index: 1;
        bottom: 342px;
        height: 113px;
        width: 113px;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-8{
        position: absolute;
        bottom: 254px;
        height: 181px;
        width: 181px;
        z-index: 2;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-9{
        position: absolute;
        bottom: 166px;
        height: 249px;
        width: 249px;
        z-index: 3;
        opacity: 0.5;
        left: 0;
        right: 0;
    }
    .img-10{
        position: absolute;
        bottom: 88px;
        height: 307px;
        width: 307px;
        z-index: 4;
        left: 0;
        right: 0;
        opacity: 0.75;
    }
    button{
        display: block;
        position: absolute;
        width: 200px;
        height: 100px;
        margin: 20px auto;
        border: none;
        outline: none;
        background-color: transparent;
        z-index: 9;
    }
    .arrow_up{
        top: 300px;
        left: 0;
        right: 0;
        img{
            width: 30px;
        }
    }
    .arrow_down{
        top: 430px;
        left: 0;
        right: 0;
        img{
            width: 100px;
        }
    }
}
@media (min-width: 320px){
    .phone_carousel{
        display: block;
    }
}
@media (min-width: 575.98px){
    .phone_carousel{
        display: none;
    }
}
@media (min-width: 991.98px){

}

@media (min-width: 1199.98px){
    .carousel{
        .carousel__content{
            font-size: 15px;
            .carousel__content-title{
                font-size: 19px;
            }
        }
    }
    .slick-dots{
        .slick-dots{
            li{
                font-size:15px;
            }
        }
    }
}
@media (min-width: 1500px) and (max-width: 1720px){
    .carousel{
        .carousel__content{
            font-size: 15px;
            .carousel__content-title{
                font-size: 19px;
            }
        }
    }
    .slick-dots{
        .slick-dots{
            li{
                font-size:15px;
            }
        }
    }
}
@media (min-width: 1920px){
    .carousel{
        .carousel__content{
            font-size: $font-size-content;
            .carousel__content-title{
                font-size: 22px;
            }
        }
    }
    .slick-dots{
        .slick-dots{
            li{
                font-size: $font-size-content;
            }
        }
    }
}