.carousel {
    padding-top: 57px;
    .carousel__inner{
        .carousel__inner-item{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .carousel__content{
        max-width: 752px;
        margin-top: 56px;
        text-align: left;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        font-weight: 400;
        .carousel__content-title{
            text-align: left;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
            margin-bottom: 16px;    
        }

    }
    .carousel__content-studio-inactive{
        display: none;
    }
    .carousel__content-studio-active{
        display: block;
    }
    .carousel__content-studio{
        display: none;
    }
}

.slick-dots{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    transform: translateY(-46px);
    margin-right: 26px;
    .slick-active{
        color: #FFFFFF;
        button{
            color: #FFFFFF;
        }
    }
    li{
        font-size:18px;
        color: #7C7C7C;
        font-weight: 400;
        cursor: pointer;

    }
    button{
        width: 25px;
        border: none;
        outline: none;
        font-size:18px;
        color: #7C7C7C;
        font-weight: 400;
        background: none;
        cursor: pointer;
    }
    .slick-dots {
        li{
            list-style-type: none; 
            font-size:18px;
            color: #7C7C7C;
            font-weight: 400;
            cursor: pointer;
        }
    }
}
@media (min-width: 320px){

}
@media (min-width: 575.98px){

}
@media (min-width: 991.98px){

}

@media (min-width: 1199.98px){

}
@media (min-width: 1600px){
    .carousel{
        .carousel__content{
            font-size: 16px;
            .carousel__content-title{
                font-size: 20px;
            }
        }
    }
    .slick-dots{
        .slick-dots{
            li{
                font-size:16px;
            }
        }
    }
}
@media (min-width: 1920px){
    .carousel{
        .carousel__content{
            font-size: 18px;
            .carousel__content-title{
                font-size: 22px;
            }
        }
    }
    .slick-dots{
        .slick-dots{
            li{
                font-size:18px;
            }
        }
    }
}