@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('./../fonts/Muller-Regular'),
        url('./../fonts/MullerRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('./../fonts/Muller-Medium'),
        url('./../fonts/MullerMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }