.main{
    .container{
        .main__menu-project{
            display: flex;
            justify-content: space-between;
            // .main__menu-item-project{     // отступ меню айтем в проектах
            //     margin-right: 72px;
            // }
            .main__menu-item{
                text-align: left;
                font-size: 24px;
                color: #7C7C7C;
                font-weight: 500;
                list-style-type: none;
                cursor: pointer;
                transition: color 0.5s;
            }
            .main__menu-item:last-child{
                margin-right: 0px;
            }
            .main__menu-item-active{
                color: #000000;
            }
            .main__menu-item-inactive{
                color: #7C7C7C;
            }
        }
        .main__catalog{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 60px;
            .main__catalog-item{
                margin-top: 33px;
                position: relative;
                max-width: 49%;
                .main__catalog-image{
                    width: 100%;
                    transition: filter 0.5s;
                }
                .main__catalog-item-content{
                    position: absolute;
                    font-size:18px;
                    line-height: 26px;
                    color: #FFFFFF;
                    bottom: 50px;
                    left: 50px;
                }
                }
            }
            .main__catalog-item:hover .main__catalog-image{
                filter: brightness(60%);
                color: #FFFFFF; 
            }
            .main__catalog-item:hover .main__catalog-item-content{
                color: #FFFFFF;
                filter: brightness(100%);
            }
            .main__catalog-item:nth-child(odd){
                margin-right: 2%;
            }
    }
}

.footer-projects{
    padding-top: 80px;
    min-height: 591px;
}

.footer{
    .footer_nav_projects{
        display: none;
    }
}
.footer{
    .footer_border_projects{
        display: none;
    }
}




@media (min-width: 320px){
    .main{
        .container{
            max-width: 100%;
            .main__menu-item{
                font-size: 24px;
            }
        }
    }
}
@media (min-width: 575.98px){
    .main{
        .container{
            max-width: 100%;
            .main__menu-item{
                font-size: 24px;
            }
        }
    }
}
@media (min-width: 991.98px){
    .main{
        .container{
            max-width: 100%;
            .main__menu-item{
                font-size: 24px;
            }
            .main__catalog{
                .main__catalog-item{
                    width: 48%;
                }
            }
        }
    }
}

@media (min-width: 1199.98px){
    .main{
        .container{
            max-width: 100%;
            .main__menu-item{
                font-size: 24px;
            }
            .main__catalog{
                .main__catalog-item{
                    width: 49%;
                }
            }
        }
    }
}

@media (min-width: 1600px){
    .main{
        .container{
            width: 100%;
            .main__menu-project{
                .main__menu-item{
                    font-size: 24px;
                    margin-right: 0px;
                }
            }
            .main__catalog{
                .main__catalog-item{
                    width: 49%;
                }
            }
        }
    }
    .header{
        width: 100%;
    }

}

@media (min-width: 1920px){
    .main{
        .container{
            max-width: 100%;
            max-width: 1760px;
            .main__menu-project{
                .main__menu-item{
                    font-size: 24px;
                    margin-right: 0px;
                }
            }
            .main__catalog{
                .main__catalog-item{
                    width: 49%;
                }
            }
        }
    }
    .header{
        width: 100%;
    }

}