.carousel {
    .carousel__inner{
        .carousel__inner-item{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
.main-item-magazine{
    .container-item-magazine{
        width: 50%;
        text-align: left;
        margin: 0;
        .main-item-magazine__title{
            margin-top: 60px;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
        }
        .main-item-magazine__data{
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
        }
        .main-item-magazine__nav{
            margin-top: 140px;
            list-style-type: none;
            .caption{
            font-size: 24px;
            font-weight: 500;
            }
            .main-item-magazine__nav-item{
                margin-top: 20px;
                .main-item-magazine__nav-item-link{
                    font-size: 18px;
                    color: #000;
                    font-weight: 400;
                }
            }
        }
        .main-item-magazine__title{
            margin: 140px 0 20px;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
        }
        .main-item-magazine__content{
            margin-top: 20px;
            font-size: 18px;
            color: #000000;
            font-weight: 400;
            .main-item-magazine__content-formula{
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 20px 0px;
                border: 5px solid red;
                width: 100%;
                height: 384px;
                text-align: center;
                
                vertical-align: middle;
                .main-item-magazine__content-formula-content-1{
                    margin-top: 176px;
                    font-weight: 500;
                    font-size: 24px;
                    span{
                        color: rgb(240, 77, 77);
                    }
                }
                .main-item-magazine__content-formula-content-2{
                    margin-top: 176px;
                    font-weight: 500;
                    font-size: 13px;
                    span{
                        color: rgb(240, 77, 77);
                    }
                }
                .main-item-magazine__content-formula-content-3{
                    margin-top: 176px;
                    font-weight: 500;
                    font-size: 24px;
                    span{
                        color: rgb(240, 77, 77);
                    }
                }
                
            }
        .main-item-magazine__title-small{
            margin: 65px 0 20px;
            font-size: 18px;
            color: #000000;
            font-weight: 500;
        }
        }

    }
}